<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.parser.title}">Parser</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="taskDetails">
    <a th:href="@{/main}" style="text-decoration: none; color: #000;">
        <span style="font-size: 1.5em; margin-right: 10px;">⬅️</span>
    </a>
    <h3 th:text="#{page.task.details.taskName} + ' ' + ${task.name}"></h3>
    <p th:text="#{page.task.details.taskDescription} + ' ' + ${task.description}"></p>
    <h4 th:text="#{page.task.details.linkTitle}"></h4>
    <table id="taskTable">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Действия</th>
        </tr>
        <tr th:each="link : ${task.links}" th:attr="data-link-id=${link.id}">
            <td th:text="${link.name}"></td>
            <td th:text="${link.description}"></td>
            <td class="buttonTd">
                <form th:action="@{/main/task/{taskId}/link/remove(taskId=${task.id})}" method="post">
                    <input type="hidden" name="linkId" th:value="${link.id}">
                    <button type="submit" class="buttonDelete">Удалить</button>
                </form>
            </td>
        </tr>
    </table>
    <br><br>
    <form id="addSelectorForm" th:action="@{/main/task/{taskId}/link/add(taskId=${task.id})}" method="post" style="display: none;">
        <input type="text" name="name" th:placeholder="#{page.task.details.palceholderLinkName}" class="form-control" required>
        <input type="text" name="description" th:placeholder="#{page.task.details.palceholderLinkDescriprion}" class="form-control" required>
        <input type="text" name="url" th:placeholder="#{page.task.details.palceholderLinkUrl}" class="form-control" required>
        <button type="submit" class="btn btn-primary" th:text="#{page.task.add.button}"></button>
    </form>
    <button id="addButton" class="btn btn-primary" onclick="showForm()" th:text="#{page.task.add.button}"/>
    <div th:if="${successMessage}" class="success-message">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>
</div>
<script>
    // Обработчик события для строк таблицы
    document.querySelectorAll('#taskTable tr').forEach(row => {
        row.addEventListener('click', () => {
            const linkId = row.getAttribute('data-link-id');
            if(linkId)
                window.location.href = '/main/link/' + linkId;
        });
    });
    function showForm() {
        document.getElementById("addSelectorForm").style.display = "block";
        document.getElementById("addButton").style.display = "none";
        document.querySelector(".success-message").style.display = "none";
        document.querySelector(".error-message").style.display = "none";
    }
</script>
</body>
</html>