<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.parser.title}">Parser</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="taskDetails">
    <a th:href="@{/main}" style="text-decoration: none; color: #000;">
        <span style="font-size: 1.5em; margin-right: 10px;">⬅️</span>
    </a>
    <h3 th:text="#{page.task.details.taskName} + ' ' + ${task.name}"></h3>
    <p th:text="#{page.task.details.taskDescription} + ' ' + ${task.description}"></p>
    <h4 th:text="#{page.task.details.linkTitle}"></h4>
    <table id="taskTable">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Ссылка</th>
        </tr>
        <tr th:each="link : ${task.links}" th:attr="data-link-id=${link.id}">
            <td th:text="${link.name}"></td>
            <td th:text="${link.description}"></td>
            <td th:text="${link.url}"></td>
        </tr>
    </table>
</div>
<script>
    // Обработчик события для строк таблицы
    document.querySelectorAll('#taskTable tr').forEach(row => {
        row.addEventListener('click', () => {
            const linkId = row.getAttribute('data-link-id'); // Получение ID задачи
            window.location.href = '/main/link/' + linkId; // Переход на другую страницу
        });
    });
</script>
</body>
</html>