<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<div th:fragment="navbar">
    <nav>
        <div class="navbar">
            <div class="nav-buttons">
                <!-- Если пользователь не аутентифицирован -->
                <a th:if="${username == null}" class="nav-button" th:href="@{/login}" th:text="#{button.login}">Вход</a>
                <a th:if="${username == null}" class="nav-button" th:href="@{/register}" th:text="#{button.register}">Регистрация</a>
                <!-- Если пользователь аутентифицирован -->
                <span th:if="${username != null}" th:text="#{page.navbar.hello(${username})}">Здравствуйте, {username}!</span>
                <a th:if="${username != null}" class="nav-button" th:href="@{/main}" th:text="#{button.lk}"/>
                <a th:if="${username != null}" class="nav-button" th:href="@{/logout}" th:text="#{button.logout}"/>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
