

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.content {
    text-align: center;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    background-color: #333;
    text-align: left;
    padding: 15px 40px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.navbar a, .nav-button {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar a:hover, .nav-button:hover {
    background-color: #ddd;
    color: black;
}

.nav-button {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #218838;
}

.navbar span{
    color: white;
}
.navbar span span{
    color: green;
    font-weight: bold;
}

.container, .login, .register {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #f9f9f9;
    text-align: center;
}

.container {
    max-width: 600px;
}

h1 {
    font-size: 50px;
    color: #333;
}

p {
    font-size: 20px;
    color: #666;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

button.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn-primary {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button.btn-primary:hover {
    background-color: #218838;
}

.addTaskButton {
    position: fixed;
    top: calc(100% - 40px);
    right: 40px;
    z-index: 10;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton:hover {
    background-color: #218838;
}
.addTaskButton:active {
    background-color: #0056b3;
    color: #ffffff;
}

