<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.accessDenied.title}">Доступ запрещен</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
</head>
<body>
<div class="container">
    <h1 th:text="#{page.accessDenied.heading}">403</h1>
    <p th:text="#{page.accessDenied.text}"></p>
    <a href="/" class="btn btn-primary" th:text="#{button.home}"></a>
</div>
</body>
</html>
