<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.notFound.title}">Страница не найдена</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
</head>
<body>
<div class="container">
    <h1 th:text="#{page.notFound.heading}">404</h1>
    <p th:text="#{page.notFound.text}">Страница не найдена</p>
    <a href="/" class="button" th:text="#{button.home}"></a>
</div>
</body>
</html>
