<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Веб-парсер</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="content">
    <h1>Добро пожаловать в Веб-парсер!</h1>
    <p>Это инструмент для парсинга веб-сайтов, который помогает извлекать данные из интернета.
        С его помощью вы можете легко получить нужную информацию с различных источников.</p>
</div>

</body>
</html>
